
body{
    background: #F3F5FC;
}

.logo{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    right: 40px;
}
.im-logo{
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top:0%;
    bottom:0%;
}
.message{
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    font-size: 2rem;
    color: #0A3871;
    flex: 1 1 auto;

    position: absolute;
    width: 577px;
    left: 240px;
    top: 168px;
}
.container-rigth{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background:#fff;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0,0,0,0.0);
}
.container-messsage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position:absolute;
    width: 336px;
    height: 122px;
    left: 32px;
    right: 619px;
    top: 610px;
}
.errorM{
    width: 336px;
    height:58px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color:#343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.output{
    width: 336px;
    height: 70px;
    border: none;
    resize: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color:#495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow:0;
}
.copiar-btn{
    width: 328px;
    height: 67px;
    color: #0A3871;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

    position: absolute;
    left: 0px;
    top: 230px;
}
.container-mune{
    position:absolute;
    height: 304px;
    width: 336px;
    left: 32px;
    top: 283px;
}
.container-advertencia{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 0px;
    gap: 8px;

    position:absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}
.exclamation{
    width: 16px;
    height: 16px;
    flex:none;
    order: 0;
    flex-grow:0;
}
.adver-text{
    width: 205px;
    height: 18px;

    font-family: 'Iter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;
    opacity: 0.8;

    flex:none;
    order:1;
    flex-grow: 0;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}
.btn-encr{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.text-encr{
    width:280px;
    height:19px;

    position: absolute;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align:center;
    color: #fff;
    flex: none;
    order:0;
    flex-grow: 1;
}
.btn-izq{
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

    flex:none;
    order: 1;
    flex-grow: 0;
}
.text-des{
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
    position: absolute;
    top: 10px;
}

/*============================== CODIGO RESPONSIVE ================================*/
@media screen and (max-width: 900px){
    .logo{
        width: auto;
    }
    .container-rigth{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        width: 630px;
        height: 140px;
        left: 40px;
        top: 1002px;

        background: #fff;
        box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
        border-radius: 32px;
    }
    .container-mune{
        visibility: hidden; 
    }
    .container-messsage{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;

        width: 624px;
        height: 69px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        position: absolute;
        top: 12px;
        width: 688px;
        height: 133px;
        left: 60px;
    }
    .errorM{
        width: 624px;
        height: 29px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 120%;

        tex-align: center;

        color: #34A40;
        flex:none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    .output{
        width: 524px;
        height: 29px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size:16px;
        line-height: 150%;

        padding-left: 45px;
        text-align: center;
        color: #495057;
        flex:none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    .copiar-btn{
        visibility: hidden;
    }
    .btns{
        display: flex;
        flex-direction: row;
        align--items: flex-start;
        padding: 0px;
        gap: 24px;

        position: absolute;
        width: 688px;
        height: 67px;
        left: 40px;
        top: 870px;
    }
    .btn-encr{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;

        width: 332px;
        height: 67px;

        background: #0A3871;
        border-radius: 24px;

        flex: none;
        order: 0;
        flex-grow: 1;
    }
    .btn-izq{
        border-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;

        width: 332px;
        height: 67px;

        border: 1px solid #0A3871;
        border-radius: 24px;

        flex: none;
        order: 1;
        flex-grow: 1;
    }
    .container-advertencia{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;

        position: absolute;
        width: 229px;
        header: 18px;
        left: 50px;
        top: 836px;
    }
    .exclamation{
        width: 16px;
        height: 16px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .adver-text{
        width: 205px;
        height: 18px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;

        color: #495057;
        flex:none;
        order: 1;
        flex-grow:0;
    }
    .message{
        position: absolute;
        width: 688px;
        height: 48px;
        left: 40px;
        top: 240px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;

        color: #0A3871;
    }
    .im-logo{
        position:absolute;
        left: 5.21%;
        right: 90.74%;
        top: 6.25%;
        bottom: 89.8%;
    }
    .logo{
        position:absolute;
        width: 31.09px;
        height: 50.58px;
        left: 40px;
        top: 73.42px;

    }

}